body {
    background-color: rgb(236, 235, 233);
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }



  body .contain-modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.505);
    top: 0;
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: all 1.5s ease-in-out;
}

body .contain-modal .modal {
    height: 20rem;
    width: 10rem;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    border: 1px black solid;
    position: absolute;
    top: 25%;
    left: 42%;
    box-shadow: 0px 0px 15px 0 white;
}

body .show-modal {
    pointer-events: all;
    opacity: 1;
    transition: all 1.5s ease-in-out;
}  



header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #d0dff1;   
    height: 2%;
    width: 100%;
    color: rgb(40, 9, 114);
    box-shadow: 0 0 10px 2px rgb(37, 37, 37)
}

h1{
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;    
    margin-left: 50px;
    text-align: right;
}

main {
    padding-top: 8rem;
}

main .contain-filters {
    margin-top: -20px;
    padding: -5%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

main .contain-filters button{
   background-color: rgb(223, 160, 78);
   color: rgb(8, 8, 8);
   border-color:black solid 3px;
   border-radius: 20px;
   width: 180px;
   height: 60px;
   font-size: 25px;
   font-style: italic;
   font-weight: bold;
   margin-top: -5%;
}

#open-modal{
    display: flex;
    margin: 20px auto;
    margin-top: 3%;
    font-size: 32px;
    font-weight: bold;
    padding: 2px 15rem;
    background-image: linear-gradient(to right top, #f499d9, #ff90a9, #ffa066, #ffc617, #a8eb12);
   color: rgb(42, 6, 90);
   border-color: rgb(78, 76, 76);
   border-radius: 50%;
   height: 110px;
   width: 110px;
   box-shadow: 0 0 20px 5px rgb(37, 37, 37);
   text-align:justify;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   text-shadow: 0px 0 10px rgb(105, 104, 104);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: white;
    font-size: 18px;
    justify-content: center;
    margin-top: 50%;
}

#close-modal{
    background-color: black;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 2%;
}


#btn_darkmode{
    width: 2rem;
    height: 2rem;
    background-color: black;
    color: white;   
    cursor: pointer; 
}

.btn-darkmode{
    background-color: black;
    color: white;    
}

.btn-darkmode p{
    font-size: 20px;
}

.contain-tareas{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;   
    font-size: 20px;
    font-weight:bold;
    color: rgb(244, 244, 248);    
    align-items: center;
    justify-content: space-between;
    align-content: space-between;  
    margin: 40px;  
    height: fit-content;
}

.card{
    background-color: #9254a5;
    border: 2px;
    border-color: black solid;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 0 20px 3px rgb(37, 37, 37)
}

.card p{
    padding: 13px;
}

.card button{
    font-size: 13px;
    font-weight: bold;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;
    margin: 2px;
    padding: 4px;
}

.card button img{
    font-size: 13px;
}

@media (max-width: 600px){
    
    header{
        height: 60px;        
    }
    header h1{
        font-size: 18px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .contain-filters .filter{
        font-size: 13px;
        align-items: center; 
        margin: 15px;
        height: 40px;
        width: 115px;
        text-align: center;
        justify-content: center;
        margin-top: 0;       
    }
    .contain-filters{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: -30%;
    }
    
    h1{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    #open-modal{
        font-size: medium;
        height: 50px;
        width: 80px;
        border-radius: 90%;
        padding: 50px;
    }
    div.contain-tareas .cards{
        display: flex;
        flex-direction: column;
        font-size: 15px;       
        align-items: center;
    }
}